<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>AddServlet</servlet-class>
        <!-- No package if using default -->
    </servlet>
    <servlet>
        <servlet-name>GetReminderServlet</servlet-name>
        <servlet-class>GetReminderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
        <!-- Ensure this is correct -->
    </servlet-mapping>
    <!--    <welcome-file-list>
    <welcome-file>AddServlet</welcome-file>
</welcome-file-list>-->
    <servlet-mapping>
        <servlet-name>GetReminderServlet</servlet-name>
        <url-pattern>/GetReminderServlet</url-pattern>
    </servlet-mapping>
</web-app>
